In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [68]:
df_train = pd.read_csv('train.csv',index_col="Id")
df_test = pd.read_csv('test.csv')

In [206]:
df_train.shape,df_test.shape

((1460, 80), (1459, 80))

In [224]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   object
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   Alley          91 non-null     object
 6   LotShape       1460 non-null   object
 7   LandContour    1460 non-null   object
 8   Utilities      1460 non-null   object
 9   LotConfig      1460 non-null   object
 10  LandSlope      1460 non-null   object
 11  Neighborhood   1460 non-null   object
 12  Condition1     1460 non-null   object
 13  Condition2     1460 non-null   object
 14  BldgType       1460 non-null   object
 15  HouseStyle     1460 non-null   object
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   object
 21  RoofMatl       1460 non-null   object
 22  Exterior1st    1460 non-null   object
 23  Exterior2nd    1460 non-null   object
 24  MasVnrType     1452 non-null   object
 25  MasVnrArea     1452 non-null   float64
 26  ExterQual      1460 non-null   object
 27  ExterCond      1460 non-null   object
 28  Foundation     1460 non-null   object
 29  BsmtQual       1423 non-null   object
 30  BsmtCond       1423 non-null   object
 31  BsmtExposure   1422 non-null   object
 32  BsmtFinType1   1423 non-null   object
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1422 non-null   object
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   object
 39  HeatingQC      1460 non-null   object
 40  CentralAir     1460 non-null   object
 41  Electrical     1459 non-null   object
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   object
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   object
 55  Fireplaces     1460 non-null   int64
 56  FireplaceQu    770 non-null    object
 57  GarageType     1379 non-null   object
 58  GarageYrBlt    1379 non-null   float64
 59  GarageFinish   1379 non-null   object
 60  GarageCars     1460 non-null   int64
 61  GarageArea     1460 non-null   int64
 62  GarageQual     1379 non-null   object
 63  GarageCond     1379 non-null   object
 64  PavedDrive     1460 non-null   object
 65  WoodDeckSF     1460 non-null   int64
 66  OpenPorchSF    1460 non-null   int64
 67  EnclosedPorch  1460 non-null   int64
 68  3SsnPorch      1460 non-null   int64
 69  ScreenPorch    1460 non-null   int64
 70  PoolArea       1460 non-null   int64
 71  PoolQC         7 non-null      object
 72  Fence          281 non-null    object
 73  MiscFeature    54 non-null     object
 74  MiscVal        1460 non-null   int64
 75  MoSold         1460 non-null   int64
 76  YrSold         1460 non-null   int64
 77  SaleType       1460 non-null   object
 78  SaleCondition  1460 non-null   object
 79  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(34), object(43)
memory usage: 923.9+ KB

In [241]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [242]:
df_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [243]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [244]:
features=["Street","LotFrontage","LotArea","GarageYrBlt"]

In [245]:
x_train=df_train[features]
x_test=df_test[features]
y_train=df_train['SalePrice']
#y_test

In [246]:
x_train.head()

   Street  LotFrontage  LotArea  GarageYrBlt
Id
1    Pave         65.0     8450       2003.0
2    Pave         80.0     9600       1976.0
3    Pave         68.0    11250       2001.0
4    Pave         60.0     9550       1998.0
5    Pave         84.0    14260       2000.0

In [247]:
x_test.head()

  Street  LotFrontage  LotArea  GarageYrBlt
0   Pave         80.0    11622       1961.0
1   Pave         81.0    14267       1958.0
2   Pave         74.0    13830       1997.0
3   Pave         78.0     9978       1998.0
4   Pave         43.0     5005       1992.0

In [248]:
y_train.head()

Id
1    208500
2    181500
3    223500
4    140000
5    250000
Name: SalePrice, dtype: int64

In [249]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Street       1460 non-null   object
 1   LotFrontage  1201 non-null   float64
 2   LotArea      1460 non-null   int64
 3   GarageYrBlt  1379 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 57.0+ KB

In [250]:
x_test.info(),x_test.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Street       1459 non-null   object
 1   LotFrontage  1232 non-null   float64
 2   LotArea      1459 non-null   int64
 3   GarageYrBlt  1381 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 45.7+ KB

(None, (1459, 4))

In [251]:
for col in x_train.columns:
    missing_data=x_train[col].isna().sum()
    missing_percent= missing_data/len(x_train) *100
    print(f"Column {col}: has {missing_percent} % missing.")

Column Street: has 0.0 % missing.
Column LotFrontage: has 17.73972602739726 % missing.
Column LotArea: has 0.0 % missing.
Column GarageYrBlt: has 5.5479452054794525 % missing.

In [252]:
x_train=x_train.values
x_test=x_test.values
x_train,x_test

(array([['Pave', 65.0, 8450, 2003.0],
        ['Pave', 80.0, 9600, 1976.0],
        ['Pave', 68.0, 11250, 2001.0],
        ...,
        ['Pave', 66.0, 9042, 1941.0],
        ['Pave', 68.0, 9717, 1950.0],
        ['Pave', 75.0, 9937, 1965.0]], dtype=object),
 array([['Pave', 80.0, 11622, 1961.0],
        ['Pave', 81.0, 14267, 1958.0],
        ['Pave', 74.0, 13830, 1997.0],
        ...,
        ['Pave', 160.0, 20000, 1960.0],
        ['Pave', 62.0, 10441, nan],
        ['Pave', 74.0, 9627, 1993.0]], dtype=object))

In [253]:
#fix missing data
from sklearn.impute import SimpleImputer

#Create an instance of Class SimpleImputer: np.nan is the empty value in the dataset
imputer=SimpleImputer (missing_values=np.nan, strategy="mean")

imputer.fit(x_train[:,1:4])
x_train[:,1:4]=imputer.transform(x_train[:,1:4])

imputer.fit(x_test[:,1:4])
x_test[:,1:4]=imputer.transform(x_test[:,1:4])

# Encode Categorical Data

In [254]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer (transformers=[ ('encoder', OneHotEncoder (), [0])], remainder="passthrough")
x_train = ct.fit_transform(x_train)
x_test = ct.fit_transform(x_test)
x_train,x_test

(array([[0.0, 1.0, 65.0, 8450.0, 2003.0],
        [0.0, 1.0, 80.0, 9600.0, 1976.0],
        [0.0, 1.0, 68.0, 11250.0, 2001.0],
        ...,
        [0.0, 1.0, 66.0, 9042.0, 1941.0],
        [0.0, 1.0, 68.0, 9717.0, 1950.0],
        [0.0, 1.0, 75.0, 9937.0, 1965.0]], dtype=object),
 array([[0.0, 1.0, 80.0, 11622.0, 1961.0],
        [0.0, 1.0, 81.0, 14267.0, 1958.0],
        [0.0, 1.0, 74.0, 13830.0, 1997.0],
        ...,
        [0.0, 1.0, 160.0, 20000.0, 1960.0],
        [0.0, 1.0, 62.0, 10441.0, 1977.7212165097756],
        [0.0, 1.0, 74.0, 9627.0, 1993.0]], dtype=object))

# Trainning ML model

In [255]:
from sklearn.tree import DecisionTreeRegressor
#DecisionTreeRegressor
dt_model = DecisionTreeRegressor (random_state=1)

In [256]:
#Fit training data into model đưa dữ liệu vào model
dt_model.fit (x_train, y_train)

DecisionTreeRegressor(random_state=1)

In [257]:
y_predict=dt_model.predict(x_test)
y_predict

array([139000., 137500., 177000., ..., 115000., 148000., 178000.])

In [276]:
#model RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
rf = RandomForestRegressor()

In [277]:
rf.fit(x_train, y_train)

RandomForestRegressor()

In [278]:
#model dự đoán
rf_preds=rf.predict(x_test)
rf_preds

array([152362.42333333, 189050.        , 212372.12      , ...,
       190431.9       , 126819.        , 191233.        ])